@font-face {
    font-family: 'titulo';
    src: url("../_fonts/Team\ 401.ttf");
}

/* Geral */
body { background-color: #dad2d2; color: #333; margin-top: 60px;}
hr { width: 40px; border: 1px solid #9c2624; }
h2, h3, h4 { color: #9c2624; }
main { width: 74%; margin: auto; background-color: #f5f5f5; }
@media screen and (max-width: 920px){
    main { width: 100%; }
}
.navbar-light .navbar-nav .nav-link { color: #000; }
.navbar-light .navbar-nav .nav-link:hover { color: #9c2624; }
.navbar-light .navbar-nav .active .nav-link { color: #9c2624; font-weight: bold; }
.text-justify { text-indent: 2em; }
.sombra { box-shadow: 0 0 5px #333; }
footer { background-color: #9c2624; }

/* Newsletter - Geral */
#newsletter { min-height: 40vh; background-size: cover; display: flex; justify-content: center; align-items: center; background-color: #9c2624; }
#newsletter h1 { font-family: 'titulo', sans-serif; font-size: 35pt; color: #fff; }
@media screen and (max-width: 600px) {
    #newsletter { min-height: 35vh; }
    #newsletter h1 { font-size: 22pt; }
}
@media screen and (max-width: 500px) {
    #newsletter { min-height: 25vh; }
    #newsletter h1 { font-size: 18pt; }
}

/* Galeria */
#galeria img { padding: 4px; }

/* Galeria */
#instituto > div { border: 1px solid #cecece; }
/* Contactos */
#localizacao { background: url("../_img/icone-localizacao.png") no-repeat 95% 1%; }
#form-mensagem textarea { background: url("../_img/icone-mensagem.png") no-repeat 95% 95%; }
.div-mensagem { border: 1px solid #cecece; }
ul { list-style-type: square; }

/* Loader */
#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #292929;
    z-index: 11000;
    position: fixed;
    display: block
}


@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #9c2624;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #9c2624;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
}
.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #009bb7;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}